<html>
    <head>
        <title>Diagnostics</title>
        <link rel="stylesheet" type="text/css" href="styles/normalize.css">
        <link rel="stylesheet" type="text/css" href="styles/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>
            function appendDiagnostic(url, element) {
                $.ajax({ method: "GET", url: url })
                    .fail(function(xhr, status, error) {
                        element.text(element.text() + " (" + status + ") " + error)
                    })
                    .done(function(data) {
                        element.text(element.text() + data);
                    });
            }
            
            $(document).ready(function() {
                appendDiagnostic("/git-version", $("#git-version"));
                appendDiagnostic("/postgres-connection", $("#postgres-connection"));
            });
        </script>
    </head>
    <body>
        <h1>Diagnostics</h1>
        <div id="git-version">Git version: </div>
        <div id="postgres-connection">Postgres connection: </div>
    </body>
</html>
